@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes slideIn {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-in-out;
  transform-origin: left;
}